In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel('../data/InterestRateEngland.xlsx', header=[1])
df

    Date Changed   Rate
0      22 Jun 23   5.00
1      11 May 23   4.50
2      23 Mar 23   4.25
3      02 Feb 23   4.00
4      15 Dec 22   3.50
..           ...    ...
246    10 Mar 75  10.25
247    17 Feb 75  10.50
248    10 Feb 75  10.75
249    27 Jan 75  11.00
250    20 Jan 75  11.25

[251 rows x 2 columns]

In [7]:
df.to_excel('../data/processed/interestRateEngland.xlsx')

In [41]:
bankRateFile = pd.read_excel('../data/baserate.xls', header=995, sheet_name='HISTORICAL SINCE 1694')


bankRateFile.dropna(subset = ['Unnamed: 1'], inplace=True)
bankRateFile.dropna(how='all', axis=1, inplace=True)
bankRateFile['Unnamed: 0'] = bankRateFile['Unnamed: 0'].fillna(method='ffill')
bankRateFile

    Unnamed: 0  Unnamed: 1 Unnamed: 2  Unnamed: 3
0       2006.0         3.0        Aug        4.75
1       2006.0         9.0        Nov        5.00
3       2007.0        11.0        Jan        5.25
4       2007.0        10.0        May        5.50
5       2007.0         5.0       July        5.75
6       2007.0         6.0        Dec        5.50
8       2008.0         7.0        Feb        5.25
9       2008.0        10.0      April        5.00
10      2008.0         8.0        Oct        4.50
11      2008.0         6.0        Nov        3.00
12      2008.0         4.0        Dec        2.00
14      2009.0         8.0        Jan        1.50
15      2009.0         5.0        Feb        1.00
16      2009.0         5.0        Mar        0.50
18      2016.0         4.0        Aug        0.25
20      2017.0         2.0        Nov        0.50
22      2018.0         2.0       Aug         0.75
24      2020.0        11.0        Mar        0.25
25      2020.0        19.0        Mar        0.10
27      2021.0        16.0        Dec        0.25
29      2022.0         3.0        Feb        0.50
30      2022.0        17.0        Mar        0.75
31      2022.0         5.0        May        1.00
32      2022.0        16.0        Jun        1.25
33      2022.0         4.0        Aug        1.75
34      2022.0        22.0        Sep        2.25
35      2022.0         3.0        Nov        3.00
36      2022.0        15.0        Dec        3.50
38      2023.0         2.0        Feb        4.00
39      2023.0        23.0        Mar        4.25
40      2023.0        11.0        May        4.50
41      2023.0        22.0        Jun        5.00

In [48]:
bankRateDf = pd.DataFrame()
bankRateDf['Date'] =  bankRateFile.iloc[:, 1].astype('int').map(str) + ' ' + bankRateFile.iloc[:,2].map(str) + ' ' +  bankRateFile.iloc[:, 0].astype('int').map(str) 
bankRateDf['Official Bank Rate'] = bankRateFile.iloc[:, 3]
bankRateDf

             Date  Official Bank Rate
0      3 Aug 2006                4.75
1      9 Nov 2006                5.00
3     11 Jan 2007                5.25
4     10 May 2007                5.50
5     5 July 2007                5.75
6      6 Dec 2007                5.50
8      7 Feb 2008                5.25
9   10 April 2008                5.00
10     8 Oct 2008                4.50
11     6 Nov 2008                3.00
12     4 Dec 2008                2.00
14     8 Jan 2009                1.50
15     5 Feb 2009                1.00
16     5 Mar 2009                0.50
18     4 Aug 2016                0.25
20     2 Nov 2017                0.50
22    2 Aug  2018                0.75
24    11 Mar 2020                0.25
25    19 Mar 2020                0.10
27    16 Dec 2021                0.25
29     3 Feb 2022                0.50
30    17 Mar 2022                0.75
31     5 May 2022                1.00
32    16 Jun 2022                1.25
33     4 Aug 2022                1.75
34    22 Sep 2022                2.25
35     3 Nov 2022                3.00
36    15 Dec 2022                3.50
38     2 Feb 2023                4.00
39    23 Mar 2023                4.25
40    11 May 2023                4.50
41    22 Jun 2023                5.00

In [49]:
bankRateDf.to_excel('../data/processed/bankRatesUK.xlsx')