In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel('../data/InterestRateEngland.xlsx', header=[1])
df

    Date Changed   Rate
0      22 Jun 23   5.00
1      11 May 23   4.50
2      23 Mar 23   4.25
3      02 Feb 23   4.00
4      15 Dec 22   3.50
..           ...    ...
246    10 Mar 75  10.25
247    17 Feb 75  10.50
248    10 Feb 75  10.75
249    27 Jan 75  11.00
250    20 Jan 75  11.25

[251 rows x 2 columns]

In [7]:
df.to_excel('../data/processed/interestRateEngland.xlsx')